@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* GOOGLE FONT - MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'HudsonNYPress';
  src: url('/fonts/HudsonNYPress.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}

/**************************/
/* CSS RESET */
/**************************/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus{
    outline: none;
}
/* Remove default margin */
* {
    margin: 0;
    padding:0;
    font: inherit;
}
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html, 
body{
    height: 100%; 
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    line-height: 1.65;
    color: #2d2d2d;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 100px;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
  font-size: 2rem;
  font-weight: 100;
  text-transform:lowercase;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: 100;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
  font-size: 3rem;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/

.announcement-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.announcement-container--text {
  margin-right: 4.3rem;
  margin-top: 0.5rem;
}

.header {
  height: 4.6rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 24px 0px;
  z-index: 4;
  position: sticky;
  top: 2.5%;
  padding: 2rem 2rem 2rem 0rem;
  @media (min-width: 45em) {
    padding: 2rem 4rem;
    height: 10rem;
  }
}

.header-line-separator{
    display: inline-block;
    width: 100%;
    height: 1px;
    border-top: 1px dashed #bbb;
    opacity: .3;
    border-radius: 100px;
    margin-block: 2rem 0;
}

.header-menu-top-row{
  padding-inline: 1rem 0; 
  @media (min-width: 45em) {
    padding-inline: 0;
    /* margin-right: 3rem; */
  }
}

.header-menu-bottom-row{
  margin-top: -.6rem; 

  @media (min-width: 45em) {
    grid-gap: 4rem;
    font-size: 1.2rem;
    /* margin-right: 3rem; */
  }
}

/* icrease specifying to override the HTML inline style 'element.style{color: black}' to change the links color */
.header-menu-links a.header-menu-item {
  font-weight: 300; 
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer; 
  color: #252525 !important;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  font-weight: 300; 
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer; 
  color: #252525 !important;
  align-items: center;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  margin-right: 0;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 4rem;
    margin-right: 6rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header__logo{
  height: .8rem;
  width: auto;
  @media (min-width: 45em) {
    height: 1.6rem;
  }
}

.header-ctas {
  color: #252525;
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
  font-weight: 300;
  font-size: .8rem;
  /* line-height: 1.75; */
  /* letter-spacing: 1.7px; */
  text-transform: uppercase;
  @media (min-width: 45em) {
    grid-gap: 4rem;
    font-size: 1.2rem;
    /* margin-right: 3rem; */
  }

}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer-spacer{
padding:0;
line-height:70px;
height:70px;
}

.footer {
  background-color: #f4f4f4;
  margin-top: auto;
}

.footer-menu {
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-between;
  grid-gap: 4rem;
  padding: 4rem 7rem;
  text-transform: uppercase;
  font-weight: 300;


  
  @media (min-width: 45em) {
    flex-direction: row;
    grid-gap: 0rem;
    /* margin-right: 3rem; */
  }
}

.footer__logo{
  height: .8rem;
  width: auto;
  @media (min-width: 45em) {
    height: 1rem;
  }
}

.footer-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 4rem;
  @media (min-width: 45em) {
    flex-direction: row;
    /* margin-right: 3rem; */
  }
}

.footer-links a {
  font-size: 1.4rem;
  color: #949494  !important;
  cursor: pointer;
}

.footer-links a:hover {

}

.footer-social-icons{
  display: flex;
  align-items: center;
  grid-gap: 4rem;
}

.footer-copyright{
  font-family: 'Montserrat', sans-serif;
  color: #949494;
  background-color: #f4f4f4;
  text-align: center;
}

.footer-copyright--link{
  font-size: 1rem;
  padding-block: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.footer-copyright--link:hover{
  color: #707070;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
  color: #2d2d2d;
  font-weight: 200;
}

/* cart item tile */
.cart-line div a p{
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

/* cart item price */
.cart-line div div span{
  font-weight: 200;
}

 /* cart item size */
.cart-line div ul li small{
  font-size: 1.1rem;
  text-transform: uppercase;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
  margin-bottom: 5rem;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-line-quantity-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-line-quantity {
  display: flex;
  margin-top: 1rem;
  border: #e6e6e6 solid 1px;
  padding: .2rem 1.4rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

/* quantity number */
.cart-line-quantity small {
  font-size: 1rem;
}

.cart-item-remove{
  color: 989898;
  font-size: 0.7rem;
  text-decoration: underline;
}

.cart-summary-page {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-summary-aside h4{
  margin-bottom: 1rem;
  padding-right: 10rem;
}

.cart-subtotal{
  display: flex;
  justify-content: space-between;
  margin-block: 2rem;
  font-weight: 500;
}

.cart-summary-aside div a p{
  font-size: 1.2rem;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: #323232;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: 1.2rem 5rem;
    cursor: pointer;
    font-family: inherit;
    transition: all .3s;
    /* margin-top: 2rem; */
    text-align: center;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/

.search{
  padding-inline: 7rem;
  margin-top: 2rem;
  /* background-color: green; */
  font-family: 'Montserrat', sans-serif;
}

.searchBar{
  display: flex;
  /* align-items: center; */
  padding: 2rem 0;
  margin-top: 0.5rem;
  /* background-color: red; */
  width: 100vw;
  font-size: 1.6rem;
  font-weight: 200;
  border-color: #fff;
}

.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
  font-family: 'Montserrat', sans-serif;
  /* background-color: green; */
}

.predictive-search div input{
  width: 100%;
  padding: 1rem;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: 1.6rem;
  outline: none;
}

.predictive-search div input *:focus{
 
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-form div button{ 
  visibility: hidden;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.predictive-search-result-item {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  font-weight: 200;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-result h2{
  font-size: 1rem;
  margin-bottom: 3rem;
  font-weight: 200;
}

.search-results-item {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  font-weight: 200;
}

.search-results-item a {
  display: flex;
  flex: column;
  align-items: center;
  gap: 1rem;
}

.search-results-item a img{
 height: 15rem;
 width: auto;
 /* heigx/ht: 100px; */
 background-color: darkred;
}

/*
* --------------------------------------------------
* GENERAL CSS
* --------------------------------------------------
*/
.Primary__Button {
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 1.2rem 5rem;
    width: auto;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
  }
  
.Dark__Button {
      color: #fff;
      background: #323232;
  }

.section-separator{
  display: inline-block;
  /* background-color: red; */
  padding: 5rem 0;
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
    padding: 8rem 0;
  }
}


.section-header{
  font-size: 2.2rem;
  font-weight: 300;
  color: #2d2d2d;
  transition: color .2s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
  margin-top: -.325em;
  padding-left: 0;
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    padding-left: 7rem;
    /* margin-bottom: 7rem; */
  }
}


/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/

.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  row-gap: 10rem;
  padding: 0 2rem;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 7rem;
  }
}

.recommended-product img {
  /* height: auto; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.viewAllBtn{
  /* padding-top: 10rem; */
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections {
  padding-inline: 1rem;
  margin-block: 2rem 10rem;
  @media (min-width: 45em) {
    padding-inline: 20rem;
  }

}

.collections h1{
  padding-top: 8rem;
text-align: center;
}

.collections-grid {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  overflow-y: hidden;
}

.collection-item img {
  width: 100%; /* Ensure the image width is 100% of its container */
  height: auto;
  max-width: 100%; /* Prevent images from exceeding their original size */
  object-fit: cover;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

.collection-item img:hover {
  transform: scale(1.01); /* Corrected property name */
  filter: brightness(80%);
}

/* Adjust padding for smaller screens */
/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.catalog-products-container{
  padding-inline: 2rem;
  margin-bottom: 6rem;
  margin-top: 2.7rem;
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 7rem;
  }
}

.catalog-products-container h1{
 padding-top: 7rem;
}
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-block: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
/* this the container for each individual product page */
.product {
  display: grid;
  margin-top: 3rem;
  margin-inline: 2rem;
  
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin-top: 6rem;
    margin-inline: 7rem;
  }
}
/* product heading, price, size, button, description */
.product h1, 
/* price */
.product-price div,
/* size  */
.product-form .product-options h5, 
/* product size options */
.product-options-item, 
/* button */
.product-form form button, 
/* Description title */
.product-main p,
/* Description text */
.product-main > div:nth-of-type(3){
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #2d2d2d;
}

/* this for the each individual product page */
.product h1 {
  margin-top: 0;
  font-size: 1.8rem;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: 30ch;
  }
}

/* price */
.product-price div {
  font-size: 1.6rem;
  color: #6a6a6a;
  margin-block: 1.5rem 1rem;
}

/* size  */
.product-form .product-options h5{
  color: #565656;
  font-size: 1.4rem;
  margin-bottom: .8rem;
}

/* button */
.product-form form button{
  background: transparent;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
  color: #fff;
  background: #323232;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: .2em;
  text-transform: uppercase;
  padding: 1.2rem 5rem;
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  transition: all .3s;
}

/* Description title */
.product-main p{
  font-size: 1.4rem;
  /* text-transform: uppercase; */
  padding-block: 0.5rem 0;
}

/* Description text */
.product-main > div:nth-of-type(3) {
  font-size: 1.2rem;
  margin-bottom: 1.6em;
  width: 100%;
  @media (min-width: 45em) {
    width: 50ch;
  }
}

/* this for all the products on the homepage products */
.ProductItem__Title{
  font-size: 1.3rem;
  font-weight: 300;
  color: #2d2d2d;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  /* margin-top: 2rem; */
}

/* this for all the products on the homepage products */
.ProductItem__Title--price{
  font-size: 1.2rem;
  color: #6a6a6a;
  margin-top: 0.4rem;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

/* products sizes */
.product-options-item {
  font-size: 1.2rem;
  border-color: #e6e6e6 !important;
  padding: .4rem 3.4rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.product-options-item:focus{
  border-color: #565656 !important;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* -------------------------o------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

/*
* --------------------------------------------------
* routes/policies._index.tsx
* -------------------------o------------------------
*/
.policies{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

/*
* --------------------------------------------------
* routes/policies.handle.tsx
* -------------------------o------------------------
*/

.policy{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #333;
  /* padding-inline: 30rem; */

}

.policy div p strong{
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 7rem;;
}

.policy-title{
  font-size:2.2rem;
  text-transform: uppercase;
}

.policy p{
  font-size: 1.4rem;
}