/*
--- 01 TYPOGRAPHY SYSTEM 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Regular: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights 
Default: 1
small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.2;

- letter spacing
-0.5px
0.75px

--- 02 COLORS
#6F6F6F - testimonial names
#888 - featured in heading
#767676 - (lightest grey allowed on white)
#555 - headings
#333 - body text
#ddd - number heading (steps section)

--- 07 WHITESPACE

- spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


/**************************/
/* HTMl GENERAL STYLES */
/**************************/
:root{
    --clr-white: #fff;
    --clr-grey-300: #333; /* body text*/
    --clr-grey-500: #555; /* heading */
    --clr-grey-800: #888; /* featured in heading */
    --clr-grey-600: #6F6F6F; 
    --clr-grey-700: #777;
    --clr-light-grey-500: #ddd;
}
